/* Debian language css file for danish - da */
/* please do not touch for now! - Jutta Wrage 2005 */

/* quotes ok */
html[lang=da] q:before { content: "\00BB"; }
html[lang=da] q:after { content: "\00AB"; }
html[lang=da] q q:before { content: "\2019"; }
html[lang=da] q q:after { content: "\2019"; }

html[lang=da] blockquote.quote p:first-child:before { content: "\00BB"; }
html[lang=da] blockquote.quote p:after { content: ""; }
html[lang=da] blockquote.quote p.last:after { content: "\00BB"; }
